<ons-button modifier="large" ng-click="editProfile()">Editar</ons-button>
<ons-list-header>Datos Personales</ons-list-header>
<ons-list-item>Nombre de Usuario: {{userData.profileData.login}}</ons-list-item>
<ons-list-item>Nombre Completo: {{userData.profileData.nombre + ' ' + userData.profileData.apellido}}</ons-list-item>
<ons-list-header>Datos de Contacto</ons-list-header>
<ons-list-item>Mail: {{userData.profileData.mail}}</ons-list-item>
<ons-list-item>Telefono: {{userData.profileData.telefono}}</ons-list-item>
<ons-list-item>Celular: {{userData.profileData.celular}}</ons-list-item>
<ons-list-item>Provincia: {{userData.profileData.provincia}}</ons-list-item>
<ons-list-item>Dirección: {{userData.profileData.direccion}}</ons-list-item>
<ons-list-item>Localidad: {{userData.profileData.localidad}}</ons-list-item>
<ons-list-item>Partido: {{userData.profileData.partido}}</ons-list-item>
<ons-list-item>Cod. Postal: {{userData.profileData.codigo_postal}}</ons-list-item>
<ons-list-item>Terminal: {{userData.profileData.terminal}}</ons-list-item>

<ons-list-header>Datos de Facturación</ons-list-header>
<ons-list-item>Razón Social: {{userData.profileData.razon_social}}</ons-list-item>
<ons-list-item>Dir. Facturación: {{userData.profileData.dir_facturacion}}</ons-list-item>
<ons-list-item>cuit: {{userData.profileData.cuit}}</ons-list-item>
<ons-list-item>Facturación: {{userData.profileData.facturacion}}</ons-list-item>
<ons-list-item>Nombre de Fantasía: {{userData.profileData.nombre_fantasia}}</ons-list-item>
<ons-button modifier="large" ng-click="editProfile()">Editar</ons-button>
